$dark-cyan : #3c8067;
$cream : #f2ebe3;
$very-dark-blue: #1c232b;
$dark-grayish-blue: #6c7289;
$white: #ffffff;


// Path to Bulma's sass folder
@use "bulma/sass" with ($family-sans-serif: "Fraunces",
    $family-monospace: "Montserrat",
    $grey-dark: $very-dark-blue,
    $grey-light: $white,
    $primary: $cream,
    $info: $dark-grayish-blue,
    $link: $dark-cyan);


// custom css

.column {
    padding: 1rem 1rem 0 1rem;
}
.title{
    line-height: 1;
}
// Import the Google Font
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");